#contact iframe
{
    width: 100%;
}
.design
{
    border: 1px solid rgb(20, 207, 220);
}
.design img{
    width: 100%;
}
.Moviereview{
    font-size: 30px;
    padding: 15px;
    border-radius: 15px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;
}
i{
    float: left;
}
